<h1 class="text-center"> {{title}} </h1>

<nav class=" navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="tasks" routerLinkActive="active">Lista Zadań</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="pomodoro" routerLinkActive="active">Pomodoro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="eisenhower" routerLinkActive="active">Macierz Eisenhowera</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
    <span>Opracował: Dominik Brzęk</span>
</footer>
