<h2> Lista zadań </h2>
<button (click)="toggleEdit(taskToAdd)" class="btn btn-primary">Dodaj zadanie</button>
<table class="table table-striped">
  <thead>
  <tr>
    <th> Tytuł</th>
    <th> Opis</th>
    <th> Termin wykonania</th>
    <th> Priorytet</th>
    <th> Estymacja</th>
    <th> Akcje</th>
  </tr>
  </thead>
  <tr *ngIf="taskToAdd.isEditing">
    <td><input [(ngModel)]="taskToAdd.title" placeholder="Title"></td>
    <td><input [(ngModel)]="taskToAdd.description" placeholder="Description"></td>
    <td><input [(ngModel)]="taskToAdd.deadline" placeholder="Deadline" type="datetime-local"></td>
    <td>
      <select [(ngModel)]="taskToAdd.priority">
        <option *ngFor="let priority of priorities" [value]="priority">{{ priority }}</option>
      </select>
    </td>
    <td><input [(ngModel)]="taskToAdd.estimation" placeholder="Estimation"></td>
    <td>
      <button (click)="addTask()" class="btn btn-success">Zapisz</button>
      <button (click)="toggleEdit(taskToAdd)" class="btn btn-secondary">Anuluj</button>
    </td>
  </tr>
  <tbody *ngFor="let task of tasks">
  <tr *ngIf="!task.isEditing">
    <td>{{ task.title }}</td>
    <td>{{ task.description }}</td>
    <td>{{ task.deadline }}</td>
    <td>{{ task.priority }}</td>
    <td>{{ task.estimation }}</td>
    <td>
      <button (click)="toggleEdit(task)" class="btn btn-primary">Edytuj</button>
      <button (click)="deleteTask(task.id)" class="btn btn-danger"> Usuń</button>
      <button (click)="toggleSubtaskEdit(subtaskToAdd, task.id)" class="btn btn-danger"> Dodaj podzadanie</button>
    </td>
  </tr>
  <tr *ngIf="task.isEditing">
    <td><input [(ngModel)]="task.title" placeholder="Title"></td>
    <td><input [(ngModel)]="task.description" placeholder="Description"></td>
    <td><input [(ngModel)]="task.deadline" placeholder="Deadline" type="datetime-local"></td>
    <td>
      <select [(ngModel)]="task.priority">
        <option *ngFor="let priority of priorities" [value]="priority">{{ priority }}</option>
      </select>
    </td>
    <td><input [(ngModel)]="task.estimation" placeholder="Estimation"></td>
    <td>
      <button (click)="saveTask(task)" class="btn btn-success">Zapisz</button>
      <button (click)="toggleEdit(task)" class="btn btn-secondary">Anuluj</button>
    </td>
  </tr>

  <tr *ngIf="subtaskToAdd.isEditing && subtaskToAdd.taskId === task.id">
    <td><input [(ngModel)]="subtaskToAdd.title" placeholder="Title"></td>
    <td><input [(ngModel)]="subtaskToAdd.description" placeholder="Description"></td>
    <td>
      <button (click)="addSubtask(task)" class="btn btn-success">Zapisz podzadanie</button>
      <button (click)="toggleSubtaskEdit(subtaskToAdd, task.id)" class="btn btn-secondary">Anuluj</button>
    </td>
  </tr>
  <tr *ngFor="let subtask of task.subtasks">
    <div *ngIf="!subtask.isEditing">
      <td>{{ subtask.title }}</td>
      <td>{{ subtask.description }}</td>
      <td>
        <button (click)="toggleSubtaskEdit(subtask, task.id)" class="btn btn-success">Edytuj podzadanie</button>
        <button (click)="deleteSubtask(subtask, task)" class="btn btn-secondary">Usuń podzadanie</button>
      </td>
    </div>
    <div *ngIf="subtask.isEditing">
      <td><input [(ngModel)]="subtask.title" placeholder="Title"></td>
      <td><input [(ngModel)]="subtask.description" placeholder="Description"></td>
      <td>
        <button (click)="saveSubtask(subtask)" class="btn btn-success">Zapisz</button>
        <button (click)="toggleSubtaskEdit(subtask, task.id)" class="btn btn-secondary">Anuluj</button>
      </td>
    </div>
  </tr>
  </tbody>
</table>
